*{
  margin: 0;
  padding: 0;
}
.body{
  background-color:rgb(227,231,233);
}
.main-section-home{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("/src/bg.jpg")no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
a{
  text-decoration: none;
}
nav{
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  background: transparent;
  padding: 20px 0;
}
header{
  padding-left: 4rem;
  margin-top: -25px;
  color: rgb(80, 10, 10);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 4rem;
}
.fa-bars{
  color: #000;
  border: 1px solid #000;
  padding: 5px 8px;
}
li{
  margin-top: 8px;
  margin-right: 10px;
  list-style: none;
}
.nav-item>li>a{
  color: #fff;  
  font-weight: 500;
}
.nav-item>li>a:hover{
  color: orange;
  transition: 03s ease-out;
}
.menu-icon{
  display: none;
}
.SignUp-btn{
  background-color:#000;
  height:40px;
  padding:0.5rem;
  border:none;
  border-radius:6px;
}
.btn-link{
  color: #fff;
  text-decoration: none;
}

/* Home-Section */
.container{
  margin: auto;
  width: 80%;
}
.main-section-home .main-section-row{
  padding: 0 10rem;
}
.row h6{
  margin-top: 200px;
  color: black;
  font-size: 35px;
  font-weight: 700;
}
.head-text{
  font-size: 55px;
  color: #fff;
  font-weight: 800;
}
.paragraph-text{
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

/* WHATYOUSHOULDKNOW */
.what-you-should-know, .faqs-container, .WhoWeAre{
  background-color: #fff;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 6px;
  box-shadow: 1px 4px 6px rgba(0,0,0,0.09);
  padding: 1rem;
}
.WhoWeAre h1{
  text-align:center;
  font-size:50px;
  font-weight: 700;
  margin:20px;
}
.what-you-should-know h1, .faqs-container h1{
  text-align:center;
  font-size:60px;
  font-weight: 700;
  margin:20px;
}
.WYK-content{
  width: 95%;
  margin: auto;
  font-size: 22px;
  font-weight: 300;
}
/* Forms */
.search-input{
  width: 40%;
  margin: auto;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0,0,0,0.09);
  padding: 0.5rem;
}
form{
  width:90%;
  margin: auto;
}
.search-input input{
  border: none;
  border-radius: 4px;
  border-top-left-radius: 15px;
  height: 4vh;
  outline:none;
  background-color:rgb(227,231,233);
  width: 95%;
}
.search-input button{
  border: none;
  background-color: #3a3a3a;
  color: #fff;
  width: 5%;
  border-radius: 4px;
  border-bottom-right-radius: 30px;
  height: 4vh;
}
/* image */
img{
  cursor:pointer;
}
/* modal */
.modal{
  width:100%;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content: center;
  align-items:center;
  background-color: rgba(0,0,0,0.9);
  transition: opacity .4s ease, visibilty .4s ease, transform .6s ease-in-out;
  visibility: hidden;
  opacity:0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
  cursor:pointer;
}
.modal.open{
  visibility: visible;
  opacity:1;
  transform: scale(1);
}
.modal img{
  width:auto;
  max-width: 100%;
  height: auto;
  max-height:100%;
  display: block;
  line-height:0;
  box-sizing: border-box;
  padding:20px 0 20px;
  margin:0 auto;
}
.modal.open h1{
  position: fixed;
  top:10px;
  right:10px;
  font-size:2rem;
  font-weight: 600;
  padding:5px;
  color:#fff;
  cursor:pointer;
}

/* Gallery */
.galleryHeader, .shop h1{
  width:50%;
  margin: auto;
  margin-top: -25px;
  padding:0.5rem;
  background-color:#fff;
  color:#000;
  text-align:center;
  box-shadow: 1px 4px 4px rgba(0,0,0,0.09);
}
.gallery-row {
  display:flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}
.gallery-image-2 img{
  width: 100%;
  height: 400px;
}
.gallery-image img, .gallery-image-2 img , .arrival-image img{
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.gallery-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 2px 2px 30px  rgba(0,0,0,0.2);
  margin: 20px 5px;
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  background-color: #ffffff;
}
.gallery-row::-webkit-scrollbar{
  display: none;
}
.gallery-image{
  width: 100%;
  height: 270px;
}
.gallery-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-box-2{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  margin: 20px 0px;
  border-radius: 5px;
  overflow: hidden;
  border-top: 3px solid #292929;
}
.gallery-image-2{
  width: 100%;
  height: 400px;
  position: relative;
}
.gallery-image-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-image-2 p{
  text-align: center;
  display: block;
  font-weight: 600;
  display: -webkit-box;
  max-width: 80%;
  -webkit-line-clamp: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3a3a3a;
  margin: 20px;
}

/* NEW ARRIVAL */
.new-wears{
  margin-top:20px;
  background-color: #fff;
  padding: 0.8rem 0.5rem 0.5rem 0.5rem;
}
.new-wears h1{
  font-size: 20px;
  margin: 0px 0px 0px 40px;
}
/* Faqs */
.faqs-container h2{
  font-size: 23px;
}
.faqs-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* About us */
.about{
  display: flex;
  padding: 2rem 5rem 5rem 5rem;
}
.profile{
  width: 250px;
  height: 250px;
}
.profile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.about-content{
  width: 80%;
  margin: auto;
}

/* footer */

footer{
  background-color: #000;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(173, 170, 170);
}
#about p{
  font-size: 13px;
}
.footer-links{
  line-height: 40px;
}
.footer-links li a{
  color: rgb(173, 170, 170);
}
.footer-links li .links:hover{
  color:orange;
}
footer .copywrite{
  text-align: center;
}

@media screen and (max-width: 960px) {
  nav{
    position:relative;
    height: 80px;
    width: 100%;
  }
  .nav-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    position: absolute;
    top:80px;
    left:-100%;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .nav-item.active{
    background: #fff;
    left:0;
    opacity: 1;
    transition: all 0.3s ease;
    height: 70vh;
    z-index: 1;
  }
  .nav-item>li>a{
    color: #000;  
    font-weight: 500;
  }
  .nav-links{
    text-align: left;
    padding: 0.5rem;
    width: 100%;
  }
  .nav-links:hover{
    background-color: rgba(92, 115, 138, 0.2);
  }
  header{
    position : absolute;
    top:0;
    left: 0;
    transform: translate(-25%, 80%);
    margin-top: -80px;
  }
  .menu-icon{
    display: block;
    position: absolute;
    top:0;
    right:0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times{
    font-size: 2rem;
    color: #000;
    border: 1px solid #000;
    padding: 5px 8px;
  }
  .new-arrival{
    width: 95%;
  }
  /* WYSK */
  .what-you-should-know, .faqs-container, .WhoWeAre{
    width: 98%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .what-you-should-know h1, .faqs-container h1, .WhoWeAre h1{
    font-size:25px;
    font-weight: 700;
    margin:10px;
    color:#000;
  }

  .WYK-content{
    width: 99%;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
  }
  /*WYSK ENDS HERE  */
  /* Forms */
.search-input{
  width: 98%;
  margin: auto;
  margin-top: 20px;
}
form{
  width:98%;
  margin: auto;
}
.search-input input{
  width: 93%;
}
.search-input button{
  width: 7%;
}
/* form ends here */
  .container{
    width: 90%;
  }
  .row h6{
    margin-top: 170px;
    font-size: 30px;
    font-weight: 500;
  }
  .head-text{
    font-size:50px;
    font-weight: 700;
  }
  .main-section-home .main-section-row{
    padding: 0 0.1rem;
  }
  .main-section-home h1, .main-section-home p, .main-section-home h6{
    color: rgb(255, 254, 254);
    text-shadow: 1px 6px 6px #000;
  }
  /* gallery */
  .galleryHeader, .shop h1{
    width:90%;
    margin-top:15px;
  }
  .gallery-box-2{
    flex-direction: column;
    width: 90%;
    border: 1px solid rgba(0,0,0,0.2);
  }
  .gallery-box-2 p{
    padding: 0 10px;
  }
  .KnowUs h1{
   text-align: center;
   margin-top: 0px;
   margin-bottom: 10px;
  }
  .WhoWeAre-content{
    width: 80%;
    margin: auto;
  }
  .who-we-are{
    text-align: center;
  }
  .about{
    padding: 0.5rem 2rem 2rem 2rem;
  }
  .profile{
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
  }
  .about-content{
    width: 80%;
  }
  footer{
    font-size: 12px;
  }
}

/* ipad */
@media screen and (max-width: 1024px) {
  .gallery-box{
    margin: 20px 1px;
  }
  .gallery-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}